<footer>
     <h1>Logo Empresa</h1>
     <nav>
        <ul>
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#nosotros">Nosotros</a></li>
            <li><a href="#plans">Precios</a></li>
            <li><a href="#signin">Sign In</a></li>
            <li><a href="#login">Sign On</a></li>
        </ul>
    </nav>
</footer>